{% ckan_extends %}

{% block secondary_content %}
{{ super() }}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('HAKA') }}</h2>
    <div class="module-content">
      <p>{% trans %}Login with your HAKA credentials.{% endtrans %}</p>
      <p class="action">
        <a href="{{ h.url_for(controller='ckanext.repoze.who.shibboleth.controller:ShibbolethController', action='shiblogin') }}"><img src="http://www.csc.fi/hallinto/haka/ohjeet/ohjeet-yllapitajille/haka_landscape_medium.gif" /></a>
      </p>
    </div>
  </section>
{% endblock %}