{% ckan_extends %}
{% block secondary_content %}
{{ super() }}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Shibboleth') }}</h2>
    <div class="module-content">
      <p>{% trans %}Login with your home organization credentials.{% endtrans %}</p>
      <p class="action">
        <a class="btn" href="{{ h.url_for(controller='ckanext.repoze.who.shibboleth.controller:ShibbolethController', action='shiblogin') }}">{{ _('Shibboleth login') }}</a>
      </p>
    </div>
  </section>
{% endblock %}